<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domeflix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--Css-->
  </head>
<body style="background-color: black;">
  <a class="navbar-brand" href="#" style="margin-left: 1%;">
    <img class="brand" src="https://occ-0-2705-999.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABWLSvtmQpJRdBNMOALxikm0K0aZMXftmj9zb5sx4RgHtauEK2hP_rYOO0V0RqsnAn_wUc1EtvcJ_yBjxqz-Twoo96l8qp9zmKbVn.png?r=bee" 
    class="d-inline-block align-top" alt="" style="width: 7%; height: auto;">
  </a>
  <table>
    <tr>
      <td>
        <div class="container">
          <div class="row">
              <div class="col-md-12 mt-5">
                  <nav class="navbar navbar-light">   
                    <a class="navbar-brand" href="#" style="margin-left: 23%;">
                      <img class="brand" src="https://occ-0-2705-999.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABWLSvtmQpJRdBNMOALxikm0K0aZMXftmj9zb5sx4RgHtauEK2hP_rYOO0V0RqsnAn_wUc1EtvcJ_yBjxqz-Twoo96l8qp9zmKbVn.png?r=bee" 
                      class="d-inline-block align-top" alt="" style="width: 10%; height: auto;">
                    </a>
                    <a class="navbar-brand" href="#" style="margin-left: 23%;">
                      <img class="brand" src="https://www.seekpng.com/png/full/156-1562717_marvel-thor-logo-png-thor-ragnarok-director.png" 
                      class="d-inline-block align-top" alt="" style="width: 40%; height: auto;">
                    </a>
                  </nav>
              </div>
          </div>
      </td>
    </tr>
  </table>
    <div class="container"> <!--throw any contents in this block-->
        {% block content %}
        {% endblock %}
        <br>
        <section class="text-white">
          <button class="btn btn-danger btn-lg sing-up">JOIN FREE FOR A MONTH</button>
    </section>
    <br><br><br><br><br>
    <h2 style="color: white; ">Trending Now</h2>
    <br>
    <div class="trending" style="width: 83vw;">
      <table>
        <tr>
          <td>
            <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/139944197_3599435703505598_6995549954815060694_o.jpg?_nc_cat=104&ccb=2&_nc_sid=dbeb18&_nc_eui2=AeFpWOJntszjYX_J0CK2W74EaIPL1rgx90tog8vWuDH3S4t5ECfWNOJ5vcEZjGUP64pGCrGB3NAlKzJCjcN9QRRu&_nc_ohc=MhnECmpuafsAX-4TjP8&_nc_ht=scontent.fhdy3-1.fna&oh=9a6dc62dd7aca66fc8d9d18653ea90d5&oe=60323E76" 
            style="width: 90%; height: auto;">
          </td>
          <td>
            <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/140538872_3599436106838891_7206026953876098971_o.jpg?_nc_cat=103&ccb=2&_nc_sid=dbeb18&_nc_eui2=AeF51_eLbcSqsQ2JMW1fQDEC8ctAy9fi64bxy0DL1-LrhiCU9CgeCw7JHD9QA0AXnNjzXhbx6_zggD54pnJMJtRr&_nc_ohc=WYR12kWRKXcAX96L1bF&_nc_ht=scontent.fhdy3-1.fna&oh=4df7f6be887835f114f2ac884a39cad3&oe=603233EC" 
            style="width: 90%; height: auto;">
          </td>
          <td>
            <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/140036394_3599462666836235_8639009028763457440_o.jpg?_nc_cat=105&ccb=2&_nc_sid=dbeb18&_nc_eui2=AeH9DJJgU7xZYpsYkGZusGB0NPXjG70mbTk09eMbvSZtOZxyU2c3IzEreTk4A036zopo1gSlEKKe6SQfjfxo89z0&_nc_ohc=Pi4uk-euA2MAX_7JjCU&_nc_ht=scontent.fhdy3-1.fna&oh=6f3b92e9dfc22033bbf2ae57ae51e59e&oe=6032A1F2" 
            style="width: 90%; height: auto;">
          </td>
          <td>
            <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/140605359_3599462966836205_8783650276204115687_o.jpg?_nc_cat=110&ccb=2&_nc_sid=dbeb18&_nc_eui2=AeGOyLVxZYDv5LmPWZQszLzBgGYIjnOfFf-AZgiOc58V_ybS5CgT5yCb1M3DHULY0sZfMD-39UxF96BtraQhhs2x&_nc_ohc=GujB22NAQOUAX8vbZhF&_nc_ht=scontent.fhdy3-1.fna&oh=d35ee8794f29364a3115f09335168d75&oe=602FF9B6" 
            style="width: 90%; height: auto;">
          </td>
          <td>
            <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/141933607_3599465723502596_6576233551777170496_o.jpg?_nc_cat=103&ccb=2&_nc_sid=dbeb18&_nc_eui2=AeHnQ2R-hUOfO5uQyS_TbBo50YW0Y-5Qz67RhbRj7lDPrn8pXiV3aNs9PaJAkKyPYLHsvJ2bxX2kstgJyO8b1QXf&_nc_ohc=5vOhQ4UW7SIAX8E56zB&_nc_ht=scontent.fhdy3-1.fna&oh=41835b038415233b10c3e162bb629cea&oe=602F67FC" 
            style="width: 90%; height: auto;">
          </td>
        </tr>
      </table>
    </div>
 
</body>
  <script type="text/javascript" src="{{style.js}}" >
  </script>
</html>